{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-oxc"],
  "tailwindStylesheet": "./app/globals.css",
  "tailwindFunctions": ["clsx", "cva", "cn"]
}
